<h1>Location List</h1>
<% if @location.count == 0 %>
  <p>There are no location found</p>
<% else %>
  <% @location.each do |location| %>
    <h2><%= location.shortname %></h2>
    <p> Description:<%= location.name %></p>
  <% end %>
<% end %>