<h1>Location List</h1>
<% if @location.count == 0 %>
  <p>There are no location found</p>
<% else %>
  <% @location.each do |location| %>
    <h2><%= location.shortname %></h2>
    <p> Name: <%= link_to location.name, location %></p>
  <% end %>
<% end %>

  <div class="container-fluid" >
    <div class="row col-md-12 mt-5">
      <div class="col-md-8">
        <div class="col-md-4">
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      </div>
    </div>
  </div>