<h2><%= @album.title %></h2>

<p>This alblum is for <%=@album.description%>.</p>
<h3>photos</h3>
<ul>
  <% @album.each do |album| %>
  <li><%= link_to photo.album_id, photo %></li>
<% end %>
</ul>


<p><%= link_to 'Home', root_path %></p>

