<h1>About Photo album service</h1>
<p>
<br>-	This Photo album service will save digital photos by providing album, photo, location, tag and comment.</br>
<br>-	Photo: it saves all of photo information and image path so it will show you the photo and description.</br>
<br>-	Comment: all of users can write/edit the comment.</br>
<br>-	Location: there would be provided photo taken location.</br>
<br>-	Tag: one photo can have many tags; you can see photos by tags.</br>
<br>-	Album: depending on album, it will be organized. The album would have photo title and description</br>
</p>
